<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>bind-style</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	</head>
	<style>
		.container{
			width:200px;
			height:200px;
			background:skyblue;
		}
	</style>
	<body>
		<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
		<!--<div class="box">
			<input type="number" v-model='w' />
			<input type="number" v-model='h' />
			<div class="container" :style="{width:w+'px',height:h+'px'}">
			</div>
		</div>
		<script>
			new Vue({
				el:'.box',
				data:{
					h:"300",
					w:"300"
				}
			})-->
			
		<div class="box">
			<input type="number" v-model='w' />
			<input type="number" v-model='h' />
			<div class="container" :style='{width:w+"px",height:h+"px"}'></div>
		</div>
		<script>
			new Vue({
				el:'.box',
				data:{
					w:'300',
					h:'300'
				}
			})
		</script>			
			
			
			
			
			
			
		</script>
	</body>
</html>
